* {
	margin: 0;
	padding: 0;
}


body {
	position: relative;
	padding: 0;
	margin: 0;
	background-image: url("../images/background_image.jpg");
	background-color: lightblue;
}

section {
	padding: 20px 20px 60px;
	width: 60%;
}

h1,
h3 {
	color: navy;
	text-decoration: underline;
	text-transform: uppercase;
}

p {
	margin: 10px 0;
}

p.dotted {
	border-style: dotted;
}

ul,
ol {
	margin: 20px;
}

img {
	padding: 3px;
	margin: 5px;
	border-radius: 8px;
	border: 1px solid blue;
	width: 200px; 
	height: 200px;
}

a {
	color: rgb(226, 43, 122);
}